.active {
  background-color: aqua;
  border: 0.1em solid blue;
  box-shadow: 0 10px (darkblue);
}
.content{
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}
.sliders {
width: 300px;
}
.green{
  margin: 2em 0;
}

.back {
  width: 220px;
  height: 200px;
  margin-left: 2em;
  background-image: none;
  text-align: center;
}
.button-back,
.button-text {
  min-width: 100px;
}
.red .ui-slider-range {
  background: #ef2929;
}

.red .ui-slider-handle {
  border-color: #ef2929;
}

.green .ui-slider-range {
  background: #8ae234;
}

.green .ui-slider-handle {
  border-color: #8ae234;
}

.blue .ui-slider-range {
  background: #729fcf;
}

.blue .ui-slider-handle {
  border-color: #729fcf;
}
.lorem {
  font-size: 1.1em;
  padding-bottom: 0.2em;
}
